.wrap {
    width: 600px;
    margin: auto;
    margin-top: 2em;
    padding: 50px;
    border: 1px solid #1e1e1e;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wrap > .heading {
    margin: 15px auto 10px 0;
    font-weight: 700;
}

.wrap > .btn-wrap {
    margin-top: 20px;
}

.wrap > .msg {
    margin-top: 10px;
}

.signup-wrap > .msg {
    margin-right: auto;
    margin-top: 0;
}

.signup-wrap > .input-group {
    margin-bottom: 5px !important;
}

.wrap > .msg.msg-error {
    color: #e35d6a;
}
.wrap > .msg.msg-success {
    color: #75b798;
}

