h1 {
    font-size: 35px;
    margin-bottom: 5vh;
}

.heading {
    font-size: 20px;
    margin-right: auto;
    margin-bottom: 2vh;
}

.wrap {
    width: 90vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form#login {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input_box {
    padding: 0 20px;
    width: 100%;
    margin-bottom: 3vh;
}

.msg {
    margin: 10px 0 20px;
    font-size: 18px;
}
.msg.msg-error {
    color: #e35d6a;
}
.msg.msg-success {
    color: #75b798;
}

.btn {
    font-size: 20px;
}



