@font-face {
  font-family: "omyu_pretty";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: "omyu_pretty";
}
body {
  padding-top: 8%;
}
#header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#today_box {
  width: 40vh;
  margin: 2.5% auto;
  font-size: 35px;
  padding: 0;
}
#hello_box{
  font-size: 17.5px;
  color: #4F4F4F;
  margin-right: 10%;
}
.input_box {
  width: 80vh;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 1.5px solid #dcdcdc;
  padding: 0;
  margin: 0 auto;
}
.input_box > #input_select {
  width: 15%;
  font-size: 14px;
  border: none;
  border-right: 2px solid #dcdcdc;
}
.input_box > #todo_input {
  width: 75%;
  border: none;
}
.input_box > #todo_btn {
  width: 10%;
  height: 40px;
  background-color: #e6e6fa;
  border: none;
  border-radius: 0;
  color: #9c9c9c;
}
.input_box > #todo_btn {
  cursor: pointer;
}
