@font-face {
  font-family: "omyu_pretty";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: "omyu_pretty";
}
body {
  padding-top: 8%;
}
#header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#today_box {
  width: 60vh;
  margin: 2.5% auto;
  font-size: 35px;
  padding: 0;
}
#hello_box{
  font-size: 17.5px;
  color: #4F4F4F;
  margin-right: 10%;
}
.input_box {
  width: 90vh;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 1.5px solid #dcdcdc;
  padding: 0;
  margin: 0 auto;
}
.input_box > #input_select {
  width: 15%;
  font-size: 14px;
  border: none;
  border-right: 2px solid #dcdcdc;
}
.input_box > #todo_input {
  width: 75%;
  border: none;
}
.input_box > #todo_btn {
  width: 10%;
  height: 40px;
  background-color: #e6e6fa;
  border: none;
  border-radius: 0;
  color: #9c9c9c;
}
.input_box > #todo_btn {
  cursor: pointer;
}
.input-group {
  width: 600px;
  margin: 30px auto auto auto;
}

.box {
  display: flex;
  justify-content: center;
}

.mybox {
  margin-top: 20px;

  display: flex;
  flex-direction: column;

  width: 90vh;
  height: 100%;
  cursor: pointer;
  padding: 0;
}

.todo-elem {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
}
.todo-elem > .text {
  margin: 0 10px;
  font-size: 24px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.todo-elem .icon {
  width: 30px;
  height: 30px;
  background-size: cover;
}

.todo-elem .icon.schedule {
  background-image: url('../images/icon-schedule.svg');
}
.todo-elem .icon.memo {
  width: 20px;
  height: 20px;
  margin-left: 5px;
  margin-right: 5px;
  background-image: url('../images/icon-memo.svg');
}

.todo-elem .icon.checkbox {
  background-image: url('../images/icon-checkbox-blank.svg');
}
.todo-elem .icon.checkbox.checked {
  background-image: url('../images/icon-checkbox-checked.svg');
}
.todo-elem .icon.star {
  background-image: url('../images/icon-star-blank.svg');
  opacity: 0;
  margin-right: 10px;
}
.todo-elem .icon.star:hover {
  opacity: 80%;
  transition: opacity 0.5s ease-out;
}

.todo-elem .icon.star.filled {
  background-image: url('../images/icon-star-filled.svg');
  opacity: 100%;
}
.todo-elem > .text > .icon.bin {
  background-image: url('../images/icon-bin.svg');
  margin-left: 0;
  opacity: 0;
  margin-left: 10px;
  cursor: pointer;
}
.todo-elem > .text:hover > .icon.bin {
  opacity: 100%;
  transition: opacity 0.8s ease-out;
}