.input-group {
  width: 600px;
  margin: 30px auto auto auto;
}

.box {
  display: flex;
  justify-content: center;
}

.mybox {
  margin-top: 20px;

  display: flex;
  flex-direction: column;

  width: 600px;
  height: 100%;
  cursor: pointer;
}

.mybox:hover {
  .bi {
    display: block;
  }

  .bi1 {
    display: block;
  }
}

.today {
  margin-left: 10px;
  margin-right: 8px;
}

.bi {
  margin-left: 20px;
  display: none;
}

.bi1 {
  margin-left: auto;
  margin-right: 20px;
  display: none;
}

.temp {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
