body {
  padding-top: 20%;
  padding-left: 5%;
}
.input_box {
  width: 80vh;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 1.5px solid #dcdcdc;
  padding: 0;
}
.input_box > #input_select {
  width: 15%;
  font-size: 14px;
  border: none;
  border-right: 2px solid #dcdcdc;
}
.input_box > #todo_input {
  width: 75%;
  border: none;
}
.input_box > #todo_btn {
  width: 10%;
  height: 40px;
  background-color: #e6e6fa;
  border: none;
  border-radius: 0;
  color: #9c9c9c;
}
