<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MY BULLET JOURNAL 📕</title>
    <link rel="stylesheet" href="../assets/css/style.css" />
  </head>
  <body>
    <div class="input_box" id="input_box">
      <select class="input_select" id="input_select">
        <option selected value="1">TO-DO</option>
        <option value="2">SCHEDLE</option>
        <option value="3">MEMO</option>
      </select>
      <input
        id="todo_input"
        type="text"
        placeholder="할일을 입력하세요&#128393;"
      />
      <input id="todo_btn" type="submit" value="추가" />
    </div>
    <script src="../assets/js/script.js"></script>
  </body>
</html>
