<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous"
        />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"
        ></script>
    <link rel="stylesheet" href="../assets/css/recet.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/login.css">
    <title>Document</title>
</head>
<body>
    <div class="wrap">
        <h1>MY BULLET JOURNAL📕</h1>
        <p class="heading">ID</p>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="ID를 입력해주세요" aria-label="id" aria-describedby="basic-addon1">
            </div>
            <p class="heading">PASSWORD</p>
            <div class="input-group mb-3">
                <input type="password" class="form-control" placeholder="비밀번호를 입력해주세요" aria-label="pw" aria-describedby="basic-addon1">
            </div>
            <div class="btn-wrap">
                <button type="button" class="btn btn-outline-dark">Login</button>
                <button type="button" class="btn btn-outline-dark">Sign Up</button>
            </div>
    </div>
</body>
</html>